<div class="col-md-9">
	<h2>Post Stream</h2>
    <div><%= render 'form' %></div>
	<hr>

<ul class="media-list">
<% @posts.each do |post| %>
  <li class="media">
    <a class="pull-left" href="#">
      <%= image_tag(gravatar_url(post.user), width: 43, class: "img-circle") %>
    </a>
    <div class="media-body">
      <%= post.content %> 
      <p class="muted"><%= time_ago_in_words(post.created_at) %> ago</p>
<!-- Reply -->
        <% if post.replies.any? %>
					<% post.replies.each do |reply| %>
      			<div class="media">
  						<a class="pull-left" href="#">
    						<%= image_tag(gravatar_url(reply.user), width: 38, class: "img-circle") %>
  						</a>
 						  <div class="media-body">
    						<%= reply.content %>
    						<p class="muted"><%= time_ago_in_words(reply.created_at) %> ago</p>
  						</div>
						</div>
					<% end %>
				<% end %>

      <div class="action-console">
				<%= link_to 'Reply', new_post_reply_path(post) %> 
			</div>

    </div>

    <% if current_user == post.user %>
				<div class="action-console">
				<%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: "Are you sure?" } %>
				</div>
			<% end %>
    <hr></hr>
  </li>
  <% end %>

</ul>


</div>