<div class="col-md-9">
	<h2>Post Stream</h2>
	<div><%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %></div>
	<hr>

<ul class="media-list">
<% @posts.each do |post| %>
  <li class="media">
    <a class="pull-left" href="#">
      <%= image_tag(gravatar_url(post.user), class: "img-circle") %>
    </a>
    <div class="media-body">
      <%= post.content %> 
      <p><%= time_ago_in_words(post.created_at) %> ago</p>
<!-- Reply -->
        <% if post.replies.any? %>
					<% post.replies.each do |reply| %>
      			<div class="media">
  						<a class="pull-left" href="#">
    						<%= image_tag(gravatar_url(reply.user), class: "img-circle") %>
  						</a>
 						  <div class="media-body">
    						<%= reply.content %>
    						<p><%= time_ago_in_words(reply.created_at) %> ago</p>
  						</div>
						</div>
					<% end %>
				<% end %>

<span class="action-console">
				<%= link_to 'Reply', new_post_reply_path(post) %> 
			</span>

			

    </div>
    <% if current_user == post.user %>
				<span class="action-console">
				<%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: "Are you sure?" } %>
				</span>
			<% end %>
    <hr></hr>
  </li>
  <% end %>

</ul>


</div>