
<div class="col-md-9">

<div class="select-post-type">
  <ul class="nav nav-tabs" role="tablist">
    <li><button type="button" class="btn btn-danger" data-toggle="tab" data-target="#text">Text</button></li>
    <li><button type="button" class="btn btn-danger" data-toggle="tab" data-target="#photo">Photo</button></li>
    <li><button type="button" class="btn btn-danger" data-toggle="tab" data-target="#link">Link</button></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" id="text">
      <div><%= render 'form' %></div>
    </div>
    <div class="tab-pane" id="photo">
      <div><%= render 'form_photo' %></div>
    </div>
    <div class="tab-pane" id="link">
      <div><%= render 'form_link' %></div>
    </div>
  </div>
</div>

<hr>

<ul class="media-list" id="posts-list">
  <!-- Display each post -->
  <%= render 'posts' %>
</ul>

<%= will_paginate @posts %>

</div> <!-- end col-md-9 -->

<div class="col-md-3">
  <ul>
    <li><%= link_to 'has_photos', filtered_posts_path(:has_photos) %></li>
    <li><%= link_to 'has_link', filtered_posts_path(:has_link) %></li>
  </ul>

</div> <!-- end col-md-3 -->